@{
    ViewData["Title"] = "Apagar Contato";
}


<div class="text-center">

    <h3>Apagar Júlio César ?</h3>

</div>

<a class="btn btn-primary d-block" role="button">Cancelar exclusão</a>
<a class="btn btn-danger d-block" role="button">Confirma exclusão</a>







